body{
    margin: 0;
}
@media screen and (max-width:600px){
    .hd-sitetitle{
        font-size: 28px !important;
    }
    .main-inner{
        padding-top: 80px !important;
    }
    .fixed-text{
        display: none;
    }
    .donate-p{
        display: none;
    }
    .top-contents-data{
        flex-direction: column;
    }
    .data-left{
        width: 100% !important;
    }
    .data-right{
        width: 100% !important;
    }
}
/* header */
.x-header{
    width: 100%;
    position: fixed;
    height: auto;
    background-color:rgb(255, 255, 255);
    z-index: 1;
}
.hd-inner{
    top: 0;
    left: 0;
    padding: 10px 15px 0px 15px;
}
.hd-contents{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
.hd-sitetitle{
    color: #000;
    font-size: 34px;
    font-family: 'Lobster', cursive;
}
.hd-sitetitle:hover{
    color: blue;
}
.hd-right ul{
    list-style-type: none;
}
.hd-nav{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Rubik', sans-serif;
}
.donate-p{
    padding-top: 15px;
}
.hd-nitter{
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    padding: 8px;
    border-radius: 15%;
}
.hd-nitter:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    transition: ease-in 0.15s;
}

/* main ------------------------------------------*/
.x-main{
    width: 100%;
    height: auto;
    background-color:white;
}
.main-inner{
    margin-top: 0;
    padding-top: 143px;
}

.tradingview-widget-copyright{
    display: none;
}
.tradingview-widget-container{
    height: 45px !important;
}
/* main-contents -----------------------------*/
.main-contents{
    margin: 20px;
    font-family: 'Rubik', sans-serif;
}
.fixed-text{
    position: fixed;
    color: rgba(0, 0, 0, 0.055);
    font-size: 150px;
    line-height: 130px;
    /* padding-bottom: 15px; */
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-contents-data{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 25px;
}
.top-contents-data ul{
    padding-left: 20px;
    list-style-type: square;
}
.data-left{
    width: 50%;
}

.data-right{
    width: 50%;
}
.data-link{
    text-decoration: none !important;
    color: #000;
}
.data-link-tor{
    text-decoration: none !important;
    color: #000;
}
.data-link:hover{
    color: rgb(66, 138, 102);
}
.data-link-tor:hover{
    color: rgb(218, 82, 82);
}

/* footer-contents -----------------------------*/
.footer-text{
    position: relative;
}
.copy-text{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 10px 10px 0;
}